<!--
templateType: page
isAvailableForNewContent: false
enableDomainStylesheets: false
label: Homepage
screenshotPath: ../images/template-previews/home.png
-->

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    {% if page_meta.html_title or pageTitle %}<title>{{ page_meta.html_title or pageTitle }}</title>{% endif %}
    {% if brand_settings.primaryFavicon.src %}<link rel="shortcut icon" href="{{ brand_settings.primaryFavicon.src }}" />{% endif %}
    <meta name="description" content="{{ page_meta.meta_description }}">
    {# Required includes #}
    {{ standard_header_includes }}
    {# CSS files #}
    {{ require_css(get_asset_url("../../css/main.css")) }}
    {{ require_css(get_asset_url("../../css/_layout.css")) }}    
    {# JS files #}
    {{ require_js(get_asset_url("../../js/main.js")) }}
</head>

{# Header #}
{% block header %}
    {% global_partial path="../partials/header.html" %}
{% endblock header %}
    {# Sections  #} 
    {% block body %}
        <main id="main-content">
        {% block body %}
            {# 
                Sections 
            #}
        {% endblock body %}
        </main>
{# Footer #}
{% block footer %}
    {% global_partial path="../partials/footer.html" %}
{% endblock header %}
</html>