<!--
  templateType: global_partial
  label: Website header
-->
<header>
  <a href="#maincontent" class="skip-link" style="position: absolute; top: -40px; left: -999px; background-color: #333; color: white; padding: 8px; text-decoration: none; z-index: 100;">Skip to content</a>
  <nav aria-label="Main navigation">
      <ul>
          <li><a href="#home" tabindex="0">Home</a></li>
          <li><a href="#about" tabindex="0">About</a></li>
          <li><a href="#services" tabindex="0">Turtles</a></li>
          <li><a href="#contact" tabindex="0">Contact</a></li>
      </ul>
  </nav>
</header>